@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PRESETS */
body {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 16px;
}

li {
    list-style: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Be Vietnam', sans-serif;
    text-transform: capitalize;
    color: hsl(228, 39%, 23%);
}

h1, h2, h3 {
    color: hsl(228, 39%, 23%);
    font-size: 2.8em;
    line-height: 1.5;
    margin-bottom: 20px;
}

h4, h5 {
    color: hsl(228, 39%, 23%);
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 20px;
}

p {
    color: hsl(227, 12%, 61%);
    margin-bottom: 20px;
    width: 58%;
    line-height: 1.8;

}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.col-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.btn {
    background-color: hsl(12, 88%, 59%);
    width: 13%;
    padding: 14px;
    border: none;
    border-radius: 20px;
    color: #fff;
    text-transform: capitalize;    
    letter-spacing: 1.2px;
    font-family: 'Be Vietnam', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.title-sm {
    color: hsl(228, 39%, 23%);
    font-weight: bold;
    font-size: 1.2rem;
}

/* header */
.header {
    width: 100%;
    height: auto;
    background-image: url('./images/bg-tablet-pattern.svg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position-x: 1200px;
    background-position-y: -600px;
}

/* navigation */
.header nav {
    width: 100%;
    height: auto;
    padding: 20px;
}

.header .links {
    width: 55%;
    padding: 10px;
}

/* showcase */
.showcase {
    height: auto;
}

.showcase-text {
    width: 32%;
    height: 450px;
    margin: auto 20px;
    padding: 10px;
}

/* .showcase-text p {
    width: 60%;
    line-height: 1.8;
} */

.showcase-text .btn {
    width: 40%;
    height: 50px;
}

.showcase img {
    width: 100%;
    height: auto;
}

/* section 2 */

.sec-2 {
    margin-top: 100px;
    display: flex;
    align-items: flex-start;
    padding: 20px;
    background-image: url('./images/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: -300px;
    background-position-y: 200px;

}

.sec-2-lt {
    width: 45%;
    padding: 25px;
    margin: 0 200px;
}

.sec-2-lt p {
    width: 90%;
}


.sec-2-rt {
    width: 60%;
}

.sec-2-rt button{
    margin-right: 30px;
}

.sec-2-rt .card {
    width: 78%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 12pt;
    padding: 10px;
}

.card-desc {
    width: 100%;
}
.card-desc p {
    width: 100%;
}

/* section 3 */
.sec-3 {
    width: 100%;
    height: 800px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 100px;
}

.testomonials {
    width: 150%;
}

.person {
    width: 20%;
    height: 400px;
    margin: auto 0;
    transition: transform 1s ease;
    position: relative;
}

.sec-3 img {
    margin-bottom: 20px;
}

.person .text {
    width: 85%;
}

.prev {
    cursor: pointer;
}

.next {
    cursor: pointer;
}

/* section 4 */

.sec-4 {
    background-color: hsl(12, 88%, 59%);
    width: 100%;
    padding: 50px;
}

.sec-4 h3{
    color: #fff;
}

.sec-4 .btn{
    background-color: #fff;
    color: hsl(12, 88%, 59%);
}

/* footer */

.footer {
    background-color: #000;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer .beg{
    width: 15%;
    height: 100px;
}

.beg ul li {
    margin: 5px;
}

.footer .mid {
    color: #fff;
    width: 15%;
    height: 120px;
}

.mid ul li {
    margin: 10px;
}

.mid a {
    color: #fff;
}

.end{
    width: 30%;
    height: 180px;
}

.end form {
    width: 80%;
}

.end form input {
    width: 60%;
    height: 40px;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

.end p {
    color: #fff;
}

.end .card {
    margin: auto 0;
}

.end .btn {
    width: 30%;
}


/* media queries */

@media (max-width: 1210px){

    .showcase-text{
        width: 50%;

        font-size: .9rem;
    }

    .sec-2-lt{
        margin: auto 10px;
    }

    .sec-2-rt{
        width: 90%;
    }

}

@media (max-width: 1100px){
    .showcase-text{
        width: 50%;
    }
    .showcase-img{
        width: 30%;
        height: auto;
    }

}

@media (max-width: 900px){

    .btn{
        width: 40%;
    }

    .header nav {
        justify-content: space-between;
    }
    .showcase {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 50px;
    }

    .showcase-text {
        width: 80%;
        height: auto;
        font-size: 1rem;
        align-items: center;
        margin-bottom: 20px;    
    }

    .showcase-img {
        width: 60%;
        height: auto;
    }

    /* section 2 */
    .sec-2 {
        flex-direction: column;
        align-items: center;
    }

    .sec-2-lt {
        width: 80%;
    }

    .sec-2-rt {
        width: 100%;
    }

    /* SECTION 3 */

    .testomonials {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;

    }
    .person{
        width: 80%;
    }

    .hide {
        display: none;
    }

    .sec-3 .btn{
        width: 30%;
    }

    /* SECTION 4 */
    .sec-4 {
        flex-direction: column;
    }

    /* FOOTER */
    .footer {
        padding: 5px;
    }
    .footer .beg{
        width: 30%;
        height: 200px;
    }

    .footer .mid{
        width: 30%;
        height: 200px;
    }

    .footer .end{
        width: 50%;
        height: 200px;
    }

}

@media (max-width: 750px){
    h1, h2, h3 {
        width: 100%;
        font-size: 2.2rem;
        text-align: center;
    }
    .title-sm{
        text-align: center;
    }
    .header nav {
        justify-content: space-around;
    }
    .links {
        display: none;
    }

    /* SHOWCASE */
    .showcase {
        width: 100%;
        margin: 0;
    }

    .showcase-text {
        width: 100%;
    }

    .showcase-img {
        width: 100%;
        height: auto;
    }

    /* SECTION 2 */
    .sec-2{
        width: 100%;
        margin: 0;
    }

    .sec-2-lt {
        width: 100%;
        text-align: center;
    }

    .sec-2-lt p {
        width: 100%;
    }

    .sec-2-rt .card {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;

    }

    .sec-2-rt .card .btn {
        margin-bottom: 20px;
    }

    /* FOOTER */
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: auto;
    }

    .footer .beg {
        width: 100%;
    }

    .footer .mid {
        width: 100%;
    }

    .footer .end {
        width: 100%;
    }

}

