@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PRESETS */
body {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 16px;
}

li {
    list-style: none;
}

li a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Be Vietnam', sans-serif;
    text-transform: capitalize;
    color: hsl(228, 39%, 23%);
}

h1, h2, h3, h4, h5 {
    color: hsl(228, 39%, 23%);
    font-size: 2.8em;
    line-height: 1.5;
    margin-bottom: 20px;
}

p {
    color: hsl(227, 12%, 61%);
    margin-bottom: 20px;
    width: 58%;
    line-height: 1.8;

}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.col-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.btn {
    background-color: hsl(12, 88%, 59%);
    width: 13%;
    padding: 14px;
    border: none;
    border-radius: 20px;
    color: #fff;
    text-transform: capitalize;    
    letter-spacing: 1.2px;
    font-family: 'Be Vietnam', sans-serif;

}

/* header */
.header {
    width: 100%;
    height: auto;
    background-image: url('./images/bg-tablet-pattern.svg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position-x: 1200px;
    background-position-y: -600px;
}

/* navigation */
.header nav {
    width: 100%;
    height: auto;
    padding: 20px;
}

.header .links {
    width: 55%;
    padding: 10px;
}

/* showcase */
.showcase {
    height: auto;
}

.showcase-text {
    width: 32%;
    height: 450px;
    margin: auto 20px;
    padding: 10px;
}

/* .showcase-text p {
    width: 60%;
    line-height: 1.8;
} */

.showcase-text .btn {
    width: 40%;
    height: 50px;
}

.showcase img {
    width: 100%;
    height: auto;
}

/* section 2 */

.sec-2 {
    margin-top: 100px;
    display: flex;
    align-items: flex-start;
    padding: 20px;
    background-image: url('./images/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: -300px;
    background-position-y: 200px;

}

.sec-2-lt {
    width: 45%;
    padding: 25px;
    margin: 0 200px;
}

.sec-2-lt p {
    width: 90%;
}


.sec-2-rt {
    width: 60%;
}

.sec-2-rt button{
    margin-right: 30px;
}

.sec-2-rt .card {
    width: 78%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 12pt;
    padding: 10px;
}

.card-desc {
    width: 100%;
}

.card-desc .top {
    color: hsl(228, 39%, 23%);
    font-weight: bold;
}

.card-desc p {
    width: 100%;
}


